/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-oct-2017, 18:48:41
    Author     : PC03-MAXI
*/


//YII GRIDVIEW BUG DE BORDES
.table > thead > tr > th {
    border-bottom: 0!important;
}

//YII GRIDVIEW EXPORT BUG
#grid-pjax .panel-actions .btn-group.show{
    display: inline-block !important;
}

//Galeria de imagenes fix
.app-media .media-list.is-list .image-wrap {
    overflow: hidden;
}


//PANELS + HEADING NO PADDING TOP FIX

.panel-heading+.panel-body {
    padding-top: 20px; 
}


.bootstrap-tagsinput{
    display: block;
}


.alert.fade{
    opacity: 1;
}

.modal.bootstrap-dialog {
    z-index:1500!important;
}


//fixed theme color panel

.panel-actions a.btn-default {
    color: #757575;
}


//Icon en panels title
.panel{

    .panel-heading{
        .panel-title{
            i{
                margin-right: 0.5rem;
            }
        }
    }
}

//Fixes tables padding

#grid-pjax-pjax{

    .panel>.table-responsive .table>thead>tr>td:last-child
        {
        padding-right: 0;
    }  
    .panel>.table-responsive .table>thead>tr>td:first-child {
        padding-left: .572rem;
    }

}


